<header class="site-header">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ site.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-warning" role="alert">
        <span style="display: inline-block"><strong>Unofficial MFMA mirror</strong></span>
        <span style="overflow-wrap: break-word">
          View the original at
          {% if page.original_url %}
          <a href="{{ page.original_url }}">{{ page.original_url }}</a>
          {% else %}
          <a href="http://mfma.treasury.gov.za">http://mfma.treasury.gov.za</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <script>
        (function() {
        var cx = '012480388910726892059:tz_iurjw4eo';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search></gcse:search>
    </div>
  </div>
</header>
