<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      <div class="row">
        {% include header.html %}
      </div>
      <div class="row">
        <div class="col-sm-4">
          {% include menu.html %}
        </div>
        <div class="col-sm-8">
          <p>
            <span class="post-title">
              <a href="{{ page.original_url }}">{{ page.title }}</a>
            </span>
          </p>
          {{ page.breadcrumbs }}
          {{ content }}
        </div>
      </div>

      <div class="row">
        {% include footer.html %}
      </div>
    </div>
  </body>

</html>
